<pre style="background-color:#141322;color:#7c9c9e">
<span style="color:#45898c;font-style:italic;">/**</span>
<span style="color:#45898c;font-style:italic;"> * </span><span style="color:#fda8bc;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#45898c;font-style:italic;"> 2020 Christoph Cullmann </span><span style="color:#d5358f;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#45898c;font-style:italic;"> * </span><span style="color:#fda8bc;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#fda8bc;font-style:italic;"> </span><span style="color:#fda8bc;font-style:italic;">MIT</span>
<span style="color:#45898c;font-style:italic;"> */</span>

<span style="color:#45898c;font-style:italic;">// </span><span style="color:#baf7fc;background-color:#242560;">BEGIN</span>
<span style="color:#d5358f;">#include </span><span style="color:#a9fef7;">&lt;string&gt;</span>
<span style="color:#d5358f;">#include </span><span style="color:#a9fef7;">&lt;QString&gt;</span>
<span style="color:#45898c;font-style:italic;">// </span><span style="color:#baf7fc;background-color:#242560;">END</span>

<span style="color:#45898c;font-style:italic;">/**</span>
<span style="color:#45898c;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#45898c;font-style:italic;">: improve documentation</span>
<span style="color:#45898c;font-style:italic;"> * </span><span style="color:#fda8bc;font-weight:bold;">@param</span><span style="color:#45898c;font-style:italic;"> </span><span style="color:#a8c0c2;font-weight:bold;">magicArgument</span><span style="color:#45898c;font-style:italic;"> some magic argument</span>
<span style="color:#45898c;font-style:italic;"> * </span><span style="color:#fda8bc;font-weight:bold;">@return</span><span style="color:#45898c;font-style:italic;"> magic return value</span>
<span style="color:#45898c;font-style:italic;"> */</span>
<span style="color:#ff85a1;">int</span> main<span style="color:#d5358f;">(</span><span style="color:#ff85a1;">uint64_t</span> magicArgument<span style="color:#d5358f;">)</span>
<span style="color:#d5358f;">{</span>
    <span style="color:#d5358f;font-weight:bold;">if</span> <span style="color:#d5358f;">(</span>magicArgument <span style="color:#d5358f;">&gt;</span> <span style="color:#fa61b8;">1</span><span style="color:#d5358f;">)</span> <span style="color:#d5358f;">{</span>
        <span style="color:#5af5f0;">const</span> <span style="color:#999ee1;">std::string</span><span style="color:#d5358f;"> </span>string <span style="color:#d5358f;">=</span> <span style="color:#a9fef7;">&quot;source file: </span><span style="color:#c3f920;">\&quot;</span><span style="color:#a9fef7;">&quot;</span> <span style="color:#5effbd;">__FILE__</span> <span style="color:#a9fef7;">&quot;</span><span style="color:#c3f920;">\&quot;</span><span style="color:#a9fef7;">&quot;</span><span style="color:#d5358f;">;</span>
        <span style="color:#5af5f0;">const</span> <span style="color:#a8ffdb;font-weight:bold;">QString</span> qString<span style="color:#d5358f;">(</span><span style="color:#a8ffdb;font-weight:bold;">QStringLiteral</span><span style="color:#d5358f;">(</span><span style="color:#a9fef7;">&quot;test&quot;</span><span style="color:#d5358f;">))</span><span style="color:#d5358f;">;</span>
        <span style="color:#d5358f;font-weight:bold;">return</span> <span style="color:#a9fef7;">qrand</span><span style="color:#d5358f;">()</span><span style="color:#d5358f;">;</span>
    <span style="color:#d5358f;">}</span>

    <span style="color:#45898c;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#45898c;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#5af5f0;">const</span> <span style="color:#ff85a1;">double</span> g <span style="color:#d5358f;">=</span> <span style="color:#f834bb;">1.1e12</span> <span style="color:#d5358f;">*</span> <span style="color:#f834bb;">0b01'01'01'01</span> <span style="color:#d5358f;">-</span> <span style="color:#fa61b8;">43</span><span style="color:#ff427b;font-weight:bold;font-style:italic;text-decoration:underline;">a</span> <span style="color:#d5358f;">+</span> <span style="color:#f834bb;">0x11234</span> <span style="color:#d5358f;">*</span> <span style="color:#f834bb;">0234</span><span style="color:#999ee1;">ULL</span> <span style="color:#d5358f;">-</span> <span style="color:#dff959;">'c'</span> <span style="color:#d5358f;">*</span> <span style="color:#fa61b8;">42</span><span style="color:#d5358f;">;</span>
    <span style="color:#d5358f;font-weight:bold;">return</span> g <span style="color:#d5358f;">&gt;</span> <span style="color:#f834bb;">1.3</span><span style="color:#999ee1;">f</span><span style="color:#d5358f;">;</span>
<span style="color:#d5358f;">}</span>
</pre>
